*{
    font-size: 64px;
    user-select: none;
}
#image{
    width: 256px;
    height: auto;
}
button{
    border-radius: 30px;
}
button:hover{
    background-color: #aaaaaa;
    cursor: pointer;
}
